.container {
    height: 59px;
    background-color: #f0f2f5;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.usuarioInfo {
    display: flex;
    align-items: center;
}
    

.NomeConteudo {
    display: grid;
}

.Nome {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

