.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
    background-color: var(--cor-primaria);
}

.logo{
    height: 35px;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cabecalho span {
    color: white;
    cursor: pointer;
    padding: 0 1em 0 0;
}

.avatar{
    display: inline;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;
}

